@use "mixins" as *;
@use "presets" as *;

* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
}

body {
  margin: 0;
}

.title {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $color-white;
  text-shadow: 4px 4px $color-black, 5px 5px $color-gray-light;
  color: $color-white;
  transition: all 1s;
  &-left {
    font-size: 1.75rem;
    text-shadow: 4px 4px $color-black, 5px 5px $color-gray-light;
    color: $color-white;
    transition: all 1s;

    @include sm {
      font-size: 1.25rem;
      text-shadow: 4px 4px $color-black, 5px 5px $color-gray-light;
      color: $color-white;
      transition: all 1s;
    }
  }
  &-right {
    font-size: 1.5rem;
    text-shadow: -4px 4px $color-black, -5px 5px $color-gray-light;
    color: $color-white;
    transition: all 1s;

    @include sm {
      font-size: 1rem;
      text-shadow: -3px 3px $color-black, -4px 4px $color-gray-light;
      color: $color-white;
      transition: all 1s;
    }
  }
}

.fa-angle-left,
.fa-angle-right {
  color: $color-white;

  font-size: 40px;
  &:hover {
    color: $color-accent;
  }
}

.fa-play-circle {
  color: $color-accent;
  font-size: 30px;
}

.fa-pause-circle {
  color: $color-white;
  font-size: 30px;
}
