* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

.title {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #ffffff;
  text-shadow: 4px 4px #000000, 5px 5px #f4f4f4;
  color: #ffffff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.title-left {
  font-size: 1.75rem;
  text-shadow: 4px 4px #000000, 5px 5px #f4f4f4;
  color: #ffffff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.title-right {
  font-size: 1.5rem;
  text-shadow: -4px 4px #000000, -5px 5px #f4f4f4;
  color: #ffffff;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.fa-angle-left,
.fa-angle-right {
  color: #ffffff;
  font-size: 40px;
}
.fa-angle-left:hover,
.fa-angle-right:hover {
  color: #df8a13;
}

.fa-play-circle {
  color: #df8a13;
  font-size: 30px;
}

.fa-pause-circle {
  color: #ffffff;
  font-size: 30px;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #191919;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
  font-size: 2.5rem;
}
.slide a {
  position: absolute;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}
.slide.active {
  z-index: 1;
  opacity: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 15%;
  padding: 0;
}

.control-next, .control-prev, .control-pause {
  position: absolute;
  z-index: 4;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.control-pause {
  top: 20px;
  left: calc(50% - 30px);
  height: 0;
  padding: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 1;
}
.control-pause span {
  position: absolute;
  display: block;
  -webkit-transform: translate(50%, 50%);
      -ms-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  opacity: 1;
}
.control-prev {
  left: calc(50% - 15vh);
}
.control-prev:hover, .control-prev:focus {
  color: #f0ad4f;
  text-shadow: 0 0 10px #f0ad4f;
}
.control-next {
  right: calc(50% - 15vh);
}
.control-next:hover, .control-next:focus {
  color: #f0ad4f;
  text-shadow: 0 0 10px #f0ad4f;
}

.indicators {
  position: absolute;
  z-index: 3;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}

.indicator {
  width: 20px;
  height: 20px;
  margin: 10px 7.5px 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #df8a13;
  outline: none;
  background: none;
  background-clip: padding-box;
}
.indicator:hover, .indicator:focus {
  cursor: pointer;
  -webkit-transition: opacity 1s ease-in 0.5s;
  -o-transition: opacity 1s ease-in 0.5s;
  transition: opacity 1s ease-in 0.5s;
  opacity: 1;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}
.indicator.active {
  border: 10px solid transparent;
  border-top: 10px solid #ffffff;
}
@media (min-width: 1200px) {
  .control-next, .control-prev, .control-pause {
    cursor: pointer;
  }
}
@media (max-width: 767.8px) {
  .title-left {
    font-size: 1.25rem;
    text-shadow: 4px 4px #000000, 5px 5px #f4f4f4;
    color: #ffffff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
  .title-right {
    font-size: 1rem;
    text-shadow: -3px 3px #000000, -4px 4px #f4f4f4;
    color: #ffffff;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
  }
}